<h1>Mobile Offer API</h1>

<form action="/offers/" method="POST">
  <label for="uid">
    uid: 
  </label>
  <input type="text" name="uid" id="uid">
  <br />
  <label for="pub0">
    pub0:
  </label>
  <input type="text" name="pub0" id="pub0">
  <br />
  <label = for="page">
    page: 
   </label>
   <input type="number" name="page" id="page">
  <br />
  <input type="submit">
</form>

